p {
  text-align: center;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}

h3 {
  text-align: center;
}
ul.nav {
  text-align: center;
}
.nav {
    border-right: 1px solid red;
}
.nav li:last-child {
    border: none;
}
