p {
  text-align: center;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}

h3 {
  text-align: center;
}
h5 {
  text-align: center;
}
.nav {
  margin: auto;
}
.nav li {
    border-right: 1px solid;
}
.nav li:last-child {
    border: none;
}
.button {
background-color: #ffffff;
  color: #000000;
  border: 1px solid #c8cfdf;
  text-align: center;
  padding: 15px 32px;
  text-decoration: none;
 
}
.button:hover {
  background-color: #c8cfdf;
  color: #000000;
  text-decoration: none;
  
}
a {
  color: #000000;
  text-align: center;
  
}
a:hover {
  color: #888888;
  text-decoration: none;
}
