body {
    background-color: rgba(218, 194, 160, 0.801);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
header {
    background-color: rgb(231, 229, 225);
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    color: rgb(80, 59, 45);
    text-align: center;

}
#nav {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#nav2 {
    float: left;
    width: 15%;
    height: 1400px;
    background-color: rgb(255, 245, 234);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav ul {
    list-style-type: none;
    padding: 35px;
}

nav li {
    padding-bottom: 10px;
}
nav a {
    text-decoration: none;
    padding-right: 20px;

}
a:visited {
    color: rgb(107, 84, 68);
}
a:hover {
    color: rgb(34, 21, 12);
}

section {
    float: right;
    width: 85%;
    height: 1400px;
    background-color: rgb(233, 226, 213);
}

div {
    background-color: rgb(233, 226, 213);
    padding: 10px;
}
h1 {
    margin: 50px;
}

h2 {
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 400px;
    padding: 30px;
    margin: 40px auto 20px 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: rgb(43, 34, 22);
}
h3 {
    margin: 40px auto 10px 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    background-color: rgb(184, 202, 173);
    border: 2px solid;
    border-radius: 10px;
    width: 400px;
    padding: 30px;
    margin: 50px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#kuva1 {
    margin: 30px auto 20px 50px;
}
#sisennys {
    margin: 50px;
}
figcaption {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
aside {
    width: 20%;
    margin-right: 45px;
    margin-top: 20px;
    border-radius: 50px;
    padding: 20px;
    float: right;
    background-color: rgba(187, 161, 124, 0.801);
}
footer {
    background-color: blanchedalmond;
    padding: 15px;
    clear: right;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}