body
{
  background-color: #FABC80;
  margin-left: auto;
  margin-right: auto;
}

#caption
{
  font-size: 30px;
  color: #D95404;
}
table, th, td
{
  border: 1px solid #000000;
  border-collapse: collapse;
}
table
{
  width: 50 %;
}
th
{
  height: 30px;
}
