body
{
  background-color: #FABC80;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#box
{
  border: solid 1px;
  padding: 10px;
  box-shadow: 5px 10px;
}
h3
{
  text-shadow: 2px 2px #00ff00;
}
