body
{
  background-color: #FABC80;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#box
{
  border: solid 1px;
  padding: 10px;
  box-shadow: 5px 10px;
}
h3
{
  text-shadow: 2px 2px #00ff00;
}
#tausta
{
  border: solid 1px;
  background: url(bali.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#otsikko
{
  color: #ffffff;
}
#teksti
{
  color: #ffffff;
}
a:link
{
  color: #000000;
  transition: 2s;
}
a:hover
{
  color: #00ff00;
}
@media only screen and (max-width: 800px)
{
  body
  {
    background-color: #000000;
    color: #ffffff;
}
}
