body {
  background-image: url("img_landscape.jpg");
  background-repeat: no-repeat;
width: 90%;
margin-left: auto;
margin-right: auto;
  background-size: auto;
  color: #ffffff;
  text-align:center;
}
h1 {
  font-size: 40px;
}
h2 {
  width: 200px;
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff;
  padding: 10px 10px 10px 10px;
  margin: auto;
}
p {
  font-size: 18px;
  width: 600px;
  text-align: center;
  background-color: #323b4a;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  padding: 15px 10px 15px 10px;
  margin: auto;
}
div.kuvat {
  border-style: dotted;
  border-width: 2px;
  margin: auto;
  text-align: center;
  padding: 5px 5px 5px 5px;
  width: 200px;
}
ol {
  list-style-type: lower-alpha;
  text-align: left;
  margin: auto;
  width: 200px;
}
ul {
  list-style-type: square;
  text-align: left;
  margin: auto;
  width: 200px;
}
a {
 color: #ffffff;
}
a:visited {
  color: #ffffff;
}
a:hover {
  color: #ff0000;
}
img {
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff;
  padding: 5px 5px 5px 5px;
}
progress {
  margin-bottom: 50px;
}
#header {
  background-color: #3590DB;
}
#articlefirst {
   background-color: #3590DB;
}
#nav {
  background-color: #182F5C;
  padding: 20px;
}
#navvertical {
  float: left;
  width: 30%;
  height: 180px;
  background-color: #3590DB;
  padding-top: 20px;
}
#section {
  background-color: #A8BBDF;
}
#article {
  float: left;
  width: 70%;
  height: 200px;
  background-color: #B953E6;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
#aside {
  background-color: #158275;
  padding: 20px;
}
#footer {
  background-color: #0B2F45;
  padding: 20px;
}
