body {
  background-image: url("img_landscape.jpg");
  background-repeat: no-repeat;
width: 90%;
margin-left: auto;
margin-right: auto;
  background-size: auto;
  color: #ffffff;
  text-align:center;
}
h1 {
  font-size: 40px;
  padding-top: 10px;
}
h2 {
  width: 200px;
  margin: auto;
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff;
  padding: 10px 10px 10px 10px;
}
p {
  font-size: 18px;
  text-align: center;
  background-color: #323b4a;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  padding: 15px 10px 15px 10px;
}
ul {
  list-style-type: none;
  text-align: left;
}
a {
 color: #ffffff;
  text-decoration: none;
}
a:visited {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #ff0000;
  text-decoration: none;
}
img {
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff;
  padding: 5px 5px 5px 5px;
}
progress {
  margin-bottom: 50px;
}
#header {
  background-color: #3590DB;
}
#nav {
  background-color: #182F5C;
  padding: 15px;
}
#navsecond {
  background-color: #39A1F7;
  float: left;
  height: 400px;
  width: 40%;
  padding-top: 20px;
}
#column {
  float: right;
  height: 400px;
  width: 60%;
}
#aside {
  background-color: #158275;
}
#footer {
  background-color: #0B2F45;
  padding: 15px;
}
