body {
  background-image: url("img_landscape.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: auto;
  color: #ffffff;
  text-align:center;
}
h1 {
  font-size: 40px;
}
h2 {
  width: 200px;
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff;
  padding: 10px 10px 10px 10px;
  margin: auto;
}
p {
  font-size: 18px;
  width: 600px;
  text-align: center;
  background-color: #323b4a;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  padding: 15px 10px 15px 10px;
  margin: auto;
}
div.kuvat {
  border-style: dotted;
  border-width: 2px;
  margin: auto;
  text-align: center;
  padding: 5px 5px 5px 5px;
  width: 200px;
}
ol {
  list-style-type: lower-alpha;
  text-align: left;
  margin: auto;
  width: 200px;
}
ul {
  list-style-type: square;
  text-align: left;
  margin: auto;
  width: 200px;
}
a {
 color: #ffffff;
}
a:visited {
  color: #ffffff;
}
a:hover {
  color: #000000;
}
img {
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff;
  padding: 5px 5px 5px 5px;
}
progress {
  margin-bottom: 50px;
}

