body {
  background-image: url("img_landscape.jpg");
  Background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
  text-align:center;
}
h1 {
  font-size: 40px;
}
p {
  font-size: 20px;
}
div.kuvat {
  border-style: dotted;
  border-width: 2px;
  width: 100px;
  height: 100px;
  margin: auto;
  text-align: center;
}
ol {
  list-style-type: lower-alpha;
  text-align: center;
  margin: auto;
}
ul {
  list-style-type: square;
  text-align: center;
  margin: auto;
}

