body {
  background-color: #000000; color: #ffffff;
}
h1 {
  font-size: 20px;
}
p {
  font-size: 12px; color: #00ff00;
}
div.laatikko {
  border-style: dotted 2px;
  border-width: 100px;
  border-height: 100px;
}
ol {
  list-style-type: lower-alpha;
}
ul {
  list-style-type: square;
}

