body {
  background-image: url("img_landscape.jpg");
  Background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
  text-align:center;
}
h1 {
  font-size: 40px;
}
h2 {
  width: 200px;
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff;
  padding: 10px 10px 10px 10px;
  margin: auto;
}
p {
  font-size: 20px;
  width: 500px;
  background-color: ##1a4082;
  border-style: solid;
  border-width: 2px ;
  border-radius: 15px;
  padding: 10px 10px 10px 10px;
  margin: auto;
}
div.kuvat {
  border-style: dotted;
  border-width: 2px;
  width: 100px;
  height: 30px;
  margin: auto;
  text-align: center;
}
ol {
  list-style-type: lower-alpha;
  text-align: center;
  margin: auto;
}
ul {
  list-style-type: square;
  text-align: center;
  margin: auto;
}
a {
 color: #000000;
}
a:hover {
  color: #ffffff;
}
a:visited: #000000;
}
img {
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
}

