body {
  background-color: #000000; color: #ffffff;
}
h1 {
  font-size: 20px;
}
p {
  font-size: 12px; color: #00ff00;
}
div.kuvat {
  border-style: solid;
  border-width: 2px;
  width: 100px;
  height: 100px;
  text-align: center;
}
ol {
  list-style-type: lower-alpha;
}
ul {
  list-style-type: square;
}

